<%= form_for(@email_template) do |f| %>
  <% if @email_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>

      <ul>
      <% @email_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </p>

    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
